# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg-info/
dist/
build/

# Quarto
/.quarto/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE - ignore everything in .vscode EXCEPT settings.json
.vscode/*
!.vscode/settings.json

*.swp
*.swo
**/*.quarto_ipynb
